<p><%= link_to "Team Index Page", "/teams" %>
  | <%= link_to "League Index Page", "/leagues" %></p>
<h1>Leagues</h1>

<%= link_to 'New League', '/leagues/new' %>
<%= link_to 'Sort leagues by team count', '/leagues' %>

<% @leagues.order_by_creation_date.each do |league| %>
  <p>Name: <%= league.name %>
  - Date Record Created: <%= league.created_at %>
   | <%= link_to "Edit #{league.name}", "/leagues/#{league.id}/edit" %>
   | <%= link_to "Delete #{league.name}", "/leagues/#{league.id}", method: :delete %></p>
<% end %>
