<p><%= link_to "Team Index Page", "/teams" %>
| <%= link_to "League Index Page", "/leagues" %>
| <%= link_to "Sort Teams Alphabetically", "/leagues/#{@league.id}/teams?sort=asc" %></p>

<h1>All Teams For a Specific League</h1>

<%= link_to 'Create Team', "/leagues/#{@league.id}/teams/new" %>

<% @teams.each do |team| %>
<h3>Team Name: <%= team.name %> | <%= link_to "Edit #{team.name}", "/teams/#{team.id}/edit" %></h3>
<p>Expansion Team: <%= team.expansion_team %></p>
<p>Number of Players: <%= team.number_of_players %></p>
<% end %>